extends layout

prepend extra_headers
    link(rel='stylesheet', href='/stylesheets/todo_app.css')

block content
    div(id='todo_app')

prepend body_end_scripts
    script(type='text/javascript', src='/javascripts/todo_app.js')